.homepage {
   .slider {
      background: blue;
      height: 90vh;
   }

   .solutions {
   
    .solution {
       background: red;
       padding: 2.5rem 2.25rem;
       border-radius: 4px;
       color: #fff;
       box-shadow: 7px 7px 14px rgba(0, 0, 0, .2);
      }
   }
}