@import '../../App';

.register {
   background-color: #f7f7f8;
   height: 100%;
   display: flex;
   align-items: center;
   position: relative;

   &__form {
      border-radius: 4px;
      box-shadow: 0 0 0 rgba(0,0,0,0.25);
      background: #fff;
      padding: 75px;
      width: 100%;
      min-height: 450px;
   }

   &__selection {
      color: #fff;
      border-radius: 4px;
      min-width: 200px;
      min-height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;;
      align-items: center;
      font-weight: 700;
      cursor: pointer;
      position: relative;
      border: 1px solid #e0e0e0;

      &--selected {
         border: 1px solid $primary-color;

         h3 {
            color: $primary-color !important;
         }
      }

      h3 {
         font-weight: 500;
         width: 100%;
         font-size: .95rem;
         text-align: center;
         padding: 10px 0;
      }

      img {
         width: 65px;
         margin-top: 15px;
      }

      i {
         position: absolute;
         top: 15px;
         right: 15px;
         background: #0653E2;
         color: #fff;
         width: 30px;
         height: 30px;
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 50%;
         font-size: .95rem;
      }
   }

   &__name {
      border-bottom: 1px solid #e0e0e0;
      margin-bottom: 25px;

      &::before {
         font-family: "Font Awesome 5 Free";
         background-color: #0653E2;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         content: "\f007";
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         left: 15px;
         font-size: 21px;
         z-index: 1;
      }
   }

   &__email {
      border-bottom: 1px solid #e0e0e0;
      margin-bottom: 25px;

      &::before {
         font-family: "Font Awesome 5 Free";
         background-color: #0653E2;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         content: "\f0e0";
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         left: 15px;
         font-size: 21px;
         z-index: 1;
      }
   }

   &__password {
      border-bottom: 1px solid #e0e0e0;
      margin-bottom: 25px;
      
      &::before {
         font-family: "Font Awesome 5 Free";
         background-color: #0653E2;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         content: "\f144";
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         left: 15px;
         font-size: 21px;
         z-index: 1;
      }
   }
  
   &__submit {
      position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
   }

   button {
    position: absolute;
    bottom: 15px;
    right: 15px;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    color: #f9f9f9;
    transition: box-shadow 0.2s ease,transform 0.1s ease;
    background: #0653E2;
    padding: 10px 32px;
    border: none;
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: .1px;
    min-height: 50px;
   }

   &__next {
      i {
         color: #fff;
         margin-left: .5rem;
      }
   }
}